*{
margin: 0;
padding: 0;
}
body{
    background: rgb(255, 196, 234);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
/**** layoult ****/

#cabecalho{
   background-color: rgb(255, 139, 207);
   padding: 50px;
   text-align: center;
   font-size: 15px;
}
#logo{
padding: 30px;

}
/**** formatação do menu ****/
a:link, a:visited {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
}
a:hover{
color:#474747;
background: pink;

}

/**** formatação geral****/
h1{ color: #474747;
    font-size: 2.5em;
}



.branco{
color: white;

}



/**** formatação postagem****/
.slide 
   { display: grid;
    grid-auto-flow: column;
   
   }
.slide img{

    width: 90%;
    border-radius: 20px 50px 80px 100px;
    text-align: center;
    box-shadow:10px 5px 5px grey;
 }
img:hover{
width: 450px;
transition:03s;
}
#contatos{
background-color: aqua;

}
li:hover{
    width: 450px;
    transition:03s;
}

   


#rodape{
    background-color: aliceblue;
    color:#474747;
    padding: 10px;
    text-align: center ;
    font-size: 15px;
    border: solid 1px;

}